---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

Schedule:
Summer 2016
EQE 6111     : Seismic Assessment and Retrofitting of Structures
EQE 6108    : Dynamic of Structures and Vibration Control

                    Thursday     09.00-11.00  EQE 6111        Classroom IEER
                    Thursday     12.30-14.00   EQE 6108      Classroom IEER

Research Supervisor:
Seismic Vulnerability Assessment of Existing Buildings at CUET Campus (Phase I & II)
Structural Inventory Preparation of Important Buildings of Chittagong
Structural Condition Assessment of School Buildings at Chittagong City Corporation


{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
